body {
    font-family: 'Roboto', sans-serif;
    background-color: #bbb;
    color: #333;
    text-align: center;
    margin: 0px;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}


.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #bbb;
	height: 10vh;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
	height: 82%;
}

.logo a {
    width: 8ch;
    animation: typing 2s steps(8), blink .5s step-end infinite alternate;
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Major Mono Display', monospace;
    font-size: 3em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.headerbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
	height: 18%;
}

.headertab {
    width: 25%;
    text-align: center;
    border: 2px solid black;
}

#headertab1 {
    background-color: #aaa;
}

#headertab2 {
    background-color: #999;
}

#headertab3 {
    background-color: #888;
}

#headertab4 {
    background-color: #777;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10vh;
    height: 90vh;
}

.sidebar {
    width: 20%;
	height: 90vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sidebartab {
    height: calc(90vh / 4 - 4px);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(90vh / 5 / 5);
}

#sidebartab1 {
    background-color: #666;
}
#sidebartab2 {
    background-color: #777;
}
#sidebartab3 {
    background-color: #888;
}
#sidebartab4 {
    background-color: #999;
}

.content {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type:y proximity;
}

.content h2 {
    padding: 40px;
}

.introduction {
    width: inherit;
    border: 2px solid black;
    padding: 60px 0px 60px 0px;
    scroll-snap-align: start;
}

.c1 {
    width: inherit;
    border: 2px solid black;
    padding: 60px 0px 60px 0px;
    scroll-snap-align: start;
}

.daikanyamaJ {
    display: none;
}

.c1 .daikanyama:hover .daikanyamaE{
    display: none;
}

.c1 .daikanyama:hover .daikanyamaJ {
    display: inline-block;
}

.sakurashinmachiJ {
    display: none;
}

.c1 .sakurashinmachi:hover .sakurashinmachiE{
    display: none;
}

.c1 .sakurashinmachi:hover .sakurashinmachiJ {
    display: inline-block;
}

.c1media {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.c1media img{
    width: 100%;
}

.c2{
    width: inherit;
    border: 2px solid black;
    padding: 60px 0px 60px 0px;
    scroll-snap-align: start;
}

.c2media {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.c2media img {
    width: 100%;
}

.c3 {
    width: inherit;
    border: 2px solid black;
    padding: 60px 0px 60px 0px;
    scroll-snap-align: start;
}
.c3media {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.c3media img {
    width: 100%;
}

.c4 {
    width: inherit;
    border: 2px solid black;
    padding: 60px 0px 60px 0px;
    scroll-snap-align: start;
}

.c4media {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.c4media img {
    width: 100%;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #bbb;
    position: relative;
    top: 80px;
}

.footer-logo {
    padding-top: 80px;
    padding-left: 60px;
    float: left;
    font-size: 48px;
}

.footer-link {
    padding-top: 80px;
    padding-right: 60px;
    float: right;
    text-align: left;
    font-size: 20px;
}

.footer-social {
    position: absolute;
    bottom: 20px;
    right: 60px;
}

.footer-social img {
    width: 40px;
    padding-left: 10px;
    float: right;
}

.footer-copyright {
    padding-top: 240px;
}