@keyframes rot_orig {
	from {
		transform: rotate(0deg)
		            translate(0, -3rem)
		            rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(0, -3rem) 
		           rotate(-360deg);
	}
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orig {
  position: absolute;
  top: 50%;
  left: 50%;
}


.dot {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 70px;
  
  &.orig {
	  animation: rot_orig 1.5s infinite ease-in-out;
  }
  
  &.one {
    animation-delay: 0s;
    color: #56B8DC;
  }
  &.two {
    animation-delay: 100ms;
    color: #2CD3DA;
  }
  &.three {
    animation-delay: 200ms;
    color: #56DBCD;
  }
  &.four {
    animation-delay: 300ms;
    color: #56DC7A;
  }
}